@import '../../shared/assets/styles/fonts.scss';

// colors
$background-color: rgba(177, 177, 255, 0.3);
$accent-color: #F19FC5;
$cream-color: #FFEECF;
$text-color: #303036;
$second-text-color: #9393C9;

// typography
$font-for-headers: "Soyuz Grotesk", sans-serif;
$font-for-text: "Raleway", sans-serif;
$default-line-height: 120%;
